* {
    margin: 0;
    padding: 0;
}
body {
    background-color: lightcyan;
    text-align: center;
    font-family: "Arial", sans-serif;
}
h1 {
    font-size: 45px;
    padding-top: 25px;
}
h2 {
    font-size: 30px;
    color:rgba(82, 82, 82, 1);
}
.container {
    height: 65vh;
    display: none;
    justify-content: center;
    align-items: center;
}
.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5vmin;
    justify-content: center;
}
.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
    font-size: 8vmin;
    color: rgb(0, 0, 0);
    background-color: rgb(82, 199, 235);
    user-select: none;
}
#play-x, #play-o, #new-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background: #191913;
    color: white;
    border-radius: 1rem;
    border: none;
    user-select: none;
}
.button-group {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    gap: 1rem; /* spacing between buttons */
}
.box:hover {
    background-color: rgb(73, 152, 255);
}
#new-btn {
    display: none;
    background: #18cc00;
    color: white;
    width: 200px;
}
